<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  <title>About</title>
</head>

<body>
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit amet voluptatibus, vitae dolore tempore dolorum
    reiciendis maxime mollitia placeat nam porro at nostrum magni similique nobis. Consequatur dolorum, molestiae,
    officiis officia ipsa, nam inventore natus quia est esse veniam. Praesentium!</p>
  <a href="index.html">back</a>
</body>

</html>